<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TomGrahamMp2</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel ="icon" type ="image/x-icon" href="./assets/favicon.png">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script type="text/javascript" src="src/TimerDriver.js"></script>
        <script type="text/javascript" src="src/lib/CSS450Timer.js"></script>
    </head>
    <body oncontextmenu = "return false;">
        
        <div ng-controller="myCtrl" ng-app ="MeasuringApp">
            <h1>My MP2 Measuring App</h1>
            
            Begin Session: <input type ="checkbox" ng-model="checked" label ="Toggle ngHide" ng-click = "toggleTimer()"><br/>
            <div ng-show="checked">
                
                <div
                    ng-mousemove="serviceMove($event)"
                    ng-mousedown="serviceDown($event)"
                    style="width: 800px; height: 200px; outline: 1px solid; background-color: #EEEEFF">
                    <h2> Measuring Area </h2>
                </div>
                
            </div>
            
            <hr>
            <css-timer interval = "100" callback="timerUpdate" timeron = "true"></css-timer>
            <p>Seconds has passed: <input type ="text" ng-model="timerDisplay" size="50">
            
            </p>
            <p>since enabled measure session</p>
            
            <div ng-show="checked">
                <p> Unit:
                    Pixel <input type="radio" ng-model="selectedUnit" ng-value="units[0]">
                    Millimeters <input type="radio" ng-model="selectedUnit" ng-value="units[1]">
                    Centimeters <input type="radio" ng-model="selectedUnit" ng-value="units[2]">
                    Meters <input type="radio" ng-model="selectedUnit" ng-value="units[3]">
                </p>
                
                <p>
                    Scale: 
                </p>
                
                <div 
                    style="width: 400px; height: 100px; outline: 1px solid; background-color: #33F9FF">
                    <h2> Measurement Statistics </h2>
                </div>
                
                <div 
                    style="width: 400px; height: 100px; outline: 1px solid; background-color: #33FF66">
                    <h2> Mouse Movement Info </h2>
                </div>
                
            </div>
            
        </div>
    </body>
</html>
