<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    
    
    <head>
        <title>TomGrahamMP1</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script type="text/javascript" src="src/ButtonHandlers.js"></script>
    </head>
    <body>
        <div ng-app="MyApp" ng-controller="myCtrl">
            <h1>My Useless MP</h1>
            
            <hr>
            
            <h2>Question 1</h2>
            Hide Question: <input type ="checkbox" ng-model="checked1" label ="Toggle ngHide"><br/>
            <div ng-hide="checked1">
            <p>Who has your vote for US President?</p>
            
            <select ng-model="selectedCand" ng-options="x.cand for x in candidates"></select>
           
            <input type="radio" ng-model="selectedCand"  ng-value="candidates[0]"> Hillary Clinton
            <input type="radio" ng-model="selectedCand"  ng-value="candidates[1]" > Donald Trump
            <input type="radio" ng-model="selectedCand"  ng-value="candidates[2]"> Gary Johnson
            <input type="radio" ng-model="selectedCand"  ng-value="candidates[3]"> Jill Stein
            <input type="radio" ng-model="selectedCand"  ng-value="candidates[4]"> Darrell Castle
            
            <div>
                <input type="text" ng-model="selectedCand.index" ng-change="textInput(selectedCand.index)">
            </div>
            </div>
            <hr>
            
            <h2>Question 2</h2>
            Hide Question: <input type ="checkbox" ng-model="checked2" label ="Toggle ngHide"><br/>
            <div ng-hide="checked2">
            <p>What is your party affiliation?</p>
            
            <select ng-model="selectedParty" ng-options="x.party for x in parties"></select>
           
            <input type="radio" ng-model="selectedParty"  ng-value="parties[0]"> Democratic
            <input type="radio" ng-model="selectedParty"  ng-value="parties[1]" > Republican
            <input type="radio" ng-model="selectedParty"  ng-value="parties[2]"> Libertarian
            <input type="radio" ng-model="selectedParty"  ng-value="parties[3]"> Green
            
            <hr>
            
            </div>   
            <h2>State of your answers: {{selectedParty.party}} {{selectedCand.cand}}</h2>
        </div>

    </body>
</html>
